@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'variables';

.main-color {
  background-color: $main-color;
}

@include media-breakpoint-up(sm) {
  .main-color {
    background-color: blue;
  }
}

@include media-breakpoint-up(md) {
  .main-color {
    background-color: green;
  }
}

@include media-breakpoint-up(lg) {
  .main-color {
    background-color: yellow;
  }
}
